<%% form_tag <%='admin_' if options[:admin_authenticated] %><%= sessions_controller_routing_name %>_path, :id => 'login-form' do %>
<table>
  <tbody>
    <tr>
      <td align="right"><b><%%= <%= class_name %>.human_attribute_name(:login) %></b></td>
      <td align="left"><%%= text_field_tag 'login', @login %></td>
    </tr>
    <tr>
      <td align="right"><b><%%= <%= class_name %>.human_attribute_name(:password) %></b></td>
      <td align="left"><%%= password_field_tag 'password', nil %></td>
    </tr>
    <!-- Uncomment this if you want this functionality
    <tr>
      <td align="right"><%%#= label_tag 'remember_me', 'Remember me' %></td>
      <td align="left"><%%#= check_box_tag 'remember_me', '1', @remember_me %></td>
    </tr>
    -->
    <tr>
      <td align="right"></td>
      <td align="left"></td>
    </tr>
    <tr>
      <td align="left"></td>
      <td align="right"><%%= submit_tag t('Log_in') %></td>
    </tr>    
  </tbody>
</table>
<%% end %>